body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu,sans-serif;
    background-color: #f1d3b7;
}

h1
{
    margin-top: 50px;
    font-size: 4em;  
    background-color: #171717; 
    color: #F49336;
    border-radius: 10px;
    padding: 5px;
}

.crono{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.totalTimeLabel
{    
    font-weight:600;
    font-size: 40px;
    margin: 20px;
    color: #F49336;
    background-color: #171717;
    padding: 10px;
    border-radius: 10px;
}

.containerBtns
{
    position: relative;
    display: flex;
}

.containerBtns .startBtn
{
    width: 50px;
    height: 50px;
    background-image: url(play.png);
    background-size: 50px;
    background-position: center;
}

.containerBtns .startBtn.pauseBtn
{
    width: 50px;
    height: 50px;
    background-image: url(pause.png);
    background-size: 50px;
    background-position: center;
}

.containerBtns .stopBtn
{
    width: 50px;
    height: 50px;
    background-image: url(stop.png);
    background-size: 80px;
    background-position: center;
}

.containerBtns .resetBtn
{
    width: 50px;
    height: 50px;
    background-image: url(reset.png);
    background-size: 50px;
    background-position: center;
}

.containerBtns .cleanBtn
{
    width: 50px;
    height: 50px;
    background-image: url(trash.png);
    background-size: 50px;
    background-position: center;
}

.mediciones
{
    display: flex;
    border: 3px solid #171717;
    margin: 20px;
    width: 400px;
    height: 400px;   
    flex-wrap:wrap;
}